.App {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    user-select: none;
    background-size: 100% 100% ;
    background-attachment: fixed;
}
