.About{
    position: relative;
   margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 750px;
    height: 322px;
    background-color: rgba(125, 38, 175, 0.01);

}

.Aboutlbl{
    display: flex;
    margin-top: 8px;
    margin-left: 40px;
    width: 310px;
    height: 80px;
    color: rgba(35, 3, 110, 9);
    font-size: 14px;
}
.a{
    margin-top: 24px;
    margin-left: 40px;
    color: rgba(35, 3, 110, 9);
    font-size: 14px;
}
.b{
    margin-top: 0px;
    margin-left: 190px;
    color: rgba(35, 3, 110, 9);
    font-size: 14px;
}