.cards{
    width: 100dvw;
    height: 80%;
    border: 0px;
    padding: 0px 5px 5px 20px;
    margin: 0px 2px 0px 0px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    font-family: 'Courier New', Courier, monospace;  
    font-size: 12px;
    color: rgb(144, 206, 44);
}