.cards{
    width: 100dvw;
    height: 80%;
    border: 0px;
    padding: 0px 5px 5px 20px;
    margin: 0px 2px 0px 0px;
    display: grid;
    grid:
    '. . . . .'
    '. . . . .';
    justify-content: center;
    align-items: center;
    justify-items: center;
    font-family: 'Courier New', Courier, monospace;  
    font-size: 12px;
    color: rgb(144, 206, 44);
}
.paginado{
    grid-column: 1 / 6;
    grid-row: 1;
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.botones{
    height: 60px;
    width: 20px;
    background-size: contain;

}
.botonContainer{
    height: 60px;
    width: 100px;
    display: flex;
}
.divLbl{
    height: 55px;
    width: 62px;
    margin: 0px 10px 0px 10px;
    background-size: cover;
}